/src/ScreenCapture/Debug
/src/ScreenCapture/Release
/src/ScreenCapture/*.user
/*.suo
/*.ncb
/Debug
/Release
/src/test/Debug
/src/test/Release
/src/test/*.user
/src/ScreenCapture/*.aps
/src/test/x64/Debug
/src/ScreenCapture/x64/Release
/src/ScreenCapture/x64/Debug
/x64
/src/test/x64/Release
